@model List<Individual.Models.Subject>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="card glass-view p-4" style="height: 525px">
    <form method="get" asp-action="Index">
        <div class="row">
            <div class="col">
                <h3 class="text-white text-center" style="font-family: cursive">Subject List</h3>
            </div>
            <div class="col text-center ms-5 ps-5">
                <input type="text" id="searchSubjectCode" name="searchSubjectCode" placeholder="Enter Code" maxlength="15" style="width: 50%">
            </div>
        </div>
    </form>
    <div class="table-wrapper mt-3">
        <table class="table table-hover table-dark table-striped format">
            <thead>
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Units</th>
                    <th scope="col">Offering</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Course Code</th>
                    <th scope="col">Curriculum Code</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        <td>@subject.SUBJCODE</td>
                        <td>@subject.SUBJDESC</td>
                        <td>@subject.SUBJUNITS</td>
                        <td>@subject.SUBJREGOFRNG</td>
                        <td>@subject.SUBJCATEGORY</td>
                        <td>@subject.SUBJSTATUS</td>
                        <td>@subject.SUBJCOURSECODE</td>
                        <td>@subject.SUBJCURRCODE</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Subject" asp-action="Edit" asp-route-subcode="@subject.SUBJCODE"
                               class="btn-sm btn-secondary mx-2" style="text-decoration:none">Edit</a>

                            </div>
                        </td>

                        <td>
                            <div class="btn-group" role="group">
                                <form asp-controller="Subject" asp-action="Delete" asp-route-subjcode="@subject.SUBJCODE" method="post">
                                    <button type="submit" class="btn-sm btn-danger mx-2" style="text-decoration:none">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table-wrapper {
        max-height: 400px;
        overflow-y: auto;
    }

    table {
        width: 100%;
    }
</style>

@if (TempData.ContainsKey("DelMessage"))
{
    <script>
        var delMessage = '@TempData["DelMessage"]';
        Swal.fire({
            title: 'Deleted!',
            text: delMessage,
            imageUrl: "https://drive.google.com/uc?export=download&id=1biTTYC_Omgo0rctxzQIUtNEjN-rxvQc5",
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: "Delete Image"
        });
    </script>
}

@if (TempData.ContainsKey("UpMessage"))
{
    <script>
        var upMessage = '@TempData["UpMessage"]';
        Swal.fire({
            title: 'Updated!',
            text: upMessage,
            imageUrl: "https://drive.google.com/uc?export=download&id=1xFeA0RpqYfMaeali88WRwn2xMxutflVo",
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: "Updated Image"
        });
    </script>
}